@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.notes__container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    border:2px solid red;
}
.note__item{
    width:300px;
    height: 300px;

    border:2px solid black;
}

.note__tools{
    background-color: blue;
    
}

.note__main{
    width: 100%;
    height: 90%;
    background-color: aqua;
}

.note__textarea{
    width: 100%;
    height: 90%;
    background-color: aquamarine;
}

.hidden{
    display: none;
}

.add{
    position: fixed;
    right:10px;
    top:10px;
    padding:10px;
    margin:0;
    border:none;

}

.add:hover{
    cursor: pointer;
    background-color: grey;
}

.add:focus{
    outline: none;
}